<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="ApplicationDbContext" connectionString="#{ScrumBoardConnectString}" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="FriendlyFromAddress" value="hy.training@test.com" />
    <add key="FriendlyEmailDisplayName" value="重置密码" />
    <add key="FriendlyEmailSubject" value="重置密码" />
    <add key="WebApiUrl" value="#{WebApiUrl}" />
    <add key="UploadPath" value="#{UploadPath}" />
  </appSettings>
</configuration>
